{% extends "users/base.html" %}
{% load i18n %}

{% block title %}{% translate "Sign Up Closed" %} - {{ block.super }}{% endblock %}

{% block header %}{% translate "Sign up is closed" %}{% endblock %}

{% block content %}
    <p class="text-center">
        {% translate "We are sorry, but the sign up is currently closed." %}
    </p>
{% endblock content %}

{% block links %}
    <hr>
    <span>{% translate "Already have an account?" %}</span>
    <a href="{% url 'account_login' %}">{% translate "Sign in" %}</a>
{% endblock links %}
